# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Database Data (IMPORTANT: Do not track local DB storage)
postgres_data/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store